@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Kanit', sans-serif; font-size: 17px;};

header{
    font-size: 18px;
    height: 200px;
    background-color: transparent; 
}

.logo{
    height: 80px;
    width: 80px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.navigation ul{
    display: flex;
    list-style: none;
}

.navigation ul li{
    padding-left: 40px;
    padding-top: 22px;

    list-style: none;
}

.navigation a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.vestibulinho a{
    color: rgb(168, 41, 41);
    border-radius: 20px;
   
    padding-left: 25px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-left: -28px;
}

.vestibulinho a:hover{
    opacity: 1;
    color: white;
    transition: 0.5s;
}

.vestibulinho{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(168, 41, 41);
    background-color: transparent;
    border-radius: 20px;
    
    margin-right: 90px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26.5px;

    width: 150px;
    height: 45px;
}

.vestibulinho:hover{
    background-color: rgb(168, 41, 41);
    transition: 0.5s;
}

.navigation ul li:last-child{
    margin-left: 175px;
}